@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<div class="container">
    <RemoteAuthenticatorView Action="@Action">
        <LogInFailed>
            <div class="msg">Login was <span style="color:#bc4749">NOT SUCCESSFUL</span></div>
        </LogInFailed>
        <LogOut>
            <div class="msg"><span style="color:#bc4749">CLOSING</span> your session</div>
        </LogOut>
        <LogOutSucceeded>
            <div class="msg">Session has been <span style="color:#bc4749">CLOSED</span> successfully</div>
        </LogOutSucceeded>
        <LoggingIn>
            <div class="msg"><span style="color:#bc4749">REDIRECTING</span> to the login screen</div>
        </LoggingIn>
        <CompletingLoggingIn>
            <div class="msg">Login was <span style="color:#bc4749">SUCCESSFUL</span></div>
        </CompletingLoggingIn>
    </RemoteAuthenticatorView>
</div>

<style>
    .container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
    }
    .msg {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
</style>

@code{
    [Parameter] public string? Action { get; set; }
}
