@page "/"

@using StocksPage.Client.Services
@using StocksPage.Shared.DTOs
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<main>
    @if(tickers == null || !tickers.Any())
    {
        <div class="loader">Page is <span style="color:#bc4749">LOADING</span>... Please wait.</div>
    } else
    {
        <div class="title">Welcome to the <span style="color:#bc4749">stocks</span> market value checker!</div>
        <p>The application is based on data from the stocks market and allows users to see the fluctuations of individual currencies on the market.</p>
    }
</main>

@code {
    [Inject]
    public IHttpStockService stockService { get; set; }

    private IEnumerable<TickerNameGet> tickers;

    protected override async Task OnInitializedAsync()
    {
        tickers = await stockService.GetTickerNames();
    }
}