@page "/"

<PageTitle>Home</PageTitle>

<main>
    <div class="title">Welcome to the <span style="color:#301a4a;">stocks</span> market value checker!</div>
    The application is based on data from the cryptocurrency market and allows users to see the fluctuations of individual currencies on the market.
</main>