@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="container">
        <div class="loader">Page is <span style="color:#bc4749">LOADING</span>... Please wait.</div>
    </div>
}
<style>
    body {
        background: #f2e8cf;
    }
    .container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
    }
    .loader {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
</style>
@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        isLoaded = true;
    }
}
