@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/xDejw/" target="_blank">
                <img alt="Github" src="https://cdn-icons-png.flaticon.com/512/25/25231.png?w=360">
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
