@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}




<section>
    <h1>@ViewData["Title"]</h1>
    <form class="form" method="post">
        <h2>Log in to an account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input asp-for="Input.Email" class="input-design form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="label-design form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div>
            <input asp-for="Input.Password" class="input-design form-control" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password" class="label-design form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <div>
                <label asp-for="Input.RememberMe" class="accept form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit">Enter</button>
        </div>
    </form>
</section>

<style>
    body {
        background: #f2e8cf;
    }
    section {
        width: 40vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button {
        width: 15rem;
        background: #a7c957;
        border: none;
        border-radius: 5%;
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1rem;
        padding: 1rem;
        transition: all .3s ease;
    }
    button:hover {
        background: #6a994e;
    }
    .input-design {
        width: 20rem;
        height: 3rem;
        font-size: 1.5rem;
        padding: 2rem;
        background: none;
        border: none;
        border-bottom: 3px solid black;
        outline: none;
    }
    .input-design::placeholder {
         font-size: 1.5rem;
    }
    .label-design {
        font-size: 1.3rem;
        margin-top: 7px;
    }
    .accept {
        font-size: 1.5rem;
    }
    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 5rem

    }

</style>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
