@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <section>
        <h1 class="title">@ViewData["Title"]</h1>
        <div class="dsg">
            <p>   
                <a class="link-dsg" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        </div>
    </section>
    }
}

<style>
    body {
        background: #f2e8cf;
    }
    section {
        width: 40vw;
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        color: #6a994e;
    }
    .dsg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
    .link-dsg {
        font-size: 3.5rem;
        font-weight: 600;
        color: #bc4749;
        margin-bottom: 10px;
        border-bottom: #386641;
    }
</style>

